<div class="container-fluid">
    <div class="row aboutimage">
        <img src="/assets/images/pentiah_6.JPG" class="img" width="100%" height="100%" class="img-responsive">
    </div>
    <div class="container">
    <div class="mt-5 row">
        <h1 class="text-center"> ABOUT PENTIAH</h1>
    </div>
    <div class="row">
        <p>Proin enim enim, cursus a aliquet ac, eleifend placerat odio. Ut vitae sem metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eu vulputate erat, at consequat odio. Morbi molestie mi tempus, mollis lacus in, tincidunt tortor. Suspendisse dignissim mollis sodales. Mauris iaculis hendrerit feugiat. Curabitur nunc est, pellentesque at luctus et, faucibus vitae risus.
Phasellus id vestibulum mauris, a pharetra ligula. Proin vel ligula dictum, feugiat enim eu, tincidunt quam. Lorem ipdolor sit amet, consectetur adipiscing elit. Donec rhoncus dictum dapibus. Pellentesque consequat vulputate risus, quis tempor orci accumsan at. Praesent lacinia turpis eget ante suscipit, vel auctor mauris condimentum. Praesent ac justo accumsan, vehicula risus id, pulvinar purus. Cras convallis nec leo in dictum. Fusce ligula diam, molestie non mollis luctus, semper eget urna. Suspendisse ullamcorper scelerisque aliquet. Phasellus iaculis condimentum varius</p>
    </div>
    <div class="mt-5 row">
        <h1 class="text-center">PENTIAH'S TEAM</h1>
        <hr>
    </div>
    <div class="row">
    <div  *ngFor="let item of images;let i=index"> 
        <div class="offset-lg-1 offset-md-1 col-lg-9 col-md-9">
            <div class="mt-5 row">
                <div class="col-lg-4 col-md-4">
                    <img src="{{item.picture}}" class="rounded" width="100%" height="100%" title="PENTIAH Live">
                </div>
                <div class="col-md-8 col-lg-8">
                    <h2 class="text-danger">PERSON NAME</h2>
                    <p>{{item.random}}</p>
                </div>
            </div>
        </div> 
    </div>
</div>
</div>
</div>