<div class="container pt-5">
    <div class="mt-5 row">
        <h1 class="text-center"> HISTORY OF PENTIAH BAND</h1>
        <h3 class="text-center">(Music is Magic)</h3>
    </div>
    <hr>
    <div class="row text-center">
        <p>DAPPU TASH - BAND by Mr. Kadiah - 1930</p>
        <p>BAGPIPER BAND - The Modern Song Co. By Mr. Ramaswamy - 1935</p>
        <p>BRASS BAND - By Pentiah - 1940</p>
        <p>KEY BOARD BAND - By Krishnaswamy and Sudama - 1980</p>
    </div>
    <div class="row">
        <p>In the year 1930's our greate grand father Mr. Kadiah started small BAPPU TASH BAND with 2 -3 friends around old city Yakutpura.
            They were having two instrumentsone is DAPPU and TASH. They were attending small happy programmes.
        </p>
        <p>
            Mr. Kadiah's son Ramaswamy started MASH BAND i.e. BAG PIPER band in the name of modern song company in the year around 1935. Ramaswamy's 
            son PENTIAH my father started BRASS BAND along with his friends. He was working under NIZAM BAND Group and at his free time. He along with 
            friends they were attending small programs. In the year 1940's, Like this hte modern song company has became firstband company in Andhra 
            Pradesh. My father Pentiah use to play clarnet and name has become very popular than the Modern song co. Hence, our elder brother has 
            decided to change the name as PENTIAH BAND. Thus PENTIAH band has become very famous in Andhra Pradesh. Later our elder brothers introduced
            KEYBOARD BAND group New Dresses in the year 1980's. We are attending all important temples in Andhra Pradesh like Sri Lakshmi, NaraSimha, 
            yadagirgutta, Sri Mallikarjuna swamy temple, Sri Kalakasti temple Chitoor, Ramgiri temple, Nalgonda and happy occassions in Andhra Pradesh.
            We got lot of appreciation from Grand public and awarded Best Band Group from most of the temples in Andhra Pradesh.
        </p>
    </div>
</div>