<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand ms-5 text-light" href="#"><h4 class="text-danger">Consultancy</h4></a>
  <button class="navbar-toggler pe-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-navicon"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav  ms-auto me-5">
      <li class="nav-item active">
        <a class="nav-link text-light" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['consultants']">Consultants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['about']">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['contact']">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div>
<router-outlet></router-outlet>
</div>
<footer>
<hr>
<div class="mt-5 row text-center">
    <div class="social">
<a class="ms-2" href="" target="_blank"><img  src="https://www.mahulfolk.com/images/social-icons/facebook.png" alt="Facebook" title="Facebook"></a>
<a class="ms-2" href="" target="_blank"><img  src="https://www.mahulfolk.com/images/social-icons/youtube.png" alt="Youtube" title="Youtube"></a>
<a class="ms-2" href="" target="_blank"><img  src="https://www.mahulfolk.com/images/social-icons/twitter.png" alt="Twitter" title="Twitter"></a>
<a class="ms-2" href="" target="_blank"><img  src="https://www.mahulfolk.com/images/social-icons//amazon.png" alt="Amazon" title="Amazon"></a>
<a class="ms-2" href="" target="_blank"><img  src="https://www.mahulfolk.com/images/social-icons//itunes.png" alt="iTunes" title="iTunes"></a>
<a class="ms-2" href="" target="_blank"><img  src="https://www.mahulfolk.com/images/social-icons//instagram.png" alt="Instagram" title="Instagram"></a>
</div></div>
<div class="clearfix"></div>
<br>
<div class="row text-center">
<div style="float:right;">
<a [routerLink]="['contact']">Contact Us</a>
</div>

<div class="clearfix"></div>
</div>
</footer>
