<div class="container-fluid">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-interval="3000" >
        <div class="carousel-inner">
          <div class="carousel-item main-carousel active">
            <img src="/assets/images/pentiah_6.JPG" class="d-block" width="100%" height="100%" alt="...">
          </div>
          <div class="carousel-item main-carousel">
            <img src="/assets/images/pentiah_4.JPG" class="d-block" width="100%" height="100%" alt="...">
          </div>
          <div class="carousel-item main-carousel">
            <img src="/assets/images/pentiah_5.JPG" class="d-block" width="100%" height="100%" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
        <div class="mt-5 row text-center">
            <h1>Music is Magic</h1>
            <hr>
        </div>
        <div class="mt-5 nbs-flexisel carousel slide" data-bs-ride="carousel" data-interval="4000" id="theCarousel">
        <div class="carousel-inner">
            <div class="carousel-item active flexisel-item">
                <div  class="nbs-flexisel-item"><img src="/assets/images/pentiah_2.JPG" width="100%" height="165px" title="Pentiah Live">
                  </div>
            </div>
             <div class="carousel-item flexisel-item">
                <div class="nbs-flexisel-item" ><img src="/assets/images/pentiah_3.JPG" width="100%" height="165px" title="Pentiah Live">
                    </div>
            </div>
            <div class="carousel-item  flexisel-item">
                <div class="nbs-flexisel-item" ><img src="/assets/images/pentiah_4.JPG" width="100%" height="165px" title="Pentiah Live">
                    </div>
            </div>
            <div class="carousel-item flexisel-item">
                <div class="nbs-flexisel-item" ><img src="/assets/images/pentiah_5.JPG" width="100%" height="165px" title="Pentiah Live">
                    </div>
            </div>
            <div class="carousel-item flexisel-item">
                <div class="nbs-flexisel-item" ><img src="/assets/images/pentiah_6.JPG" width="100%" height="165px" title="Pentiah Live">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#theCarousel" data-bs-slide="prev">
            <span  aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#theCarousel" data-bs-slide="next">
            <span  aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="mt-5 row text-center">
            <h1>Performance</h1>
            <hr>
        </div>
            <div class="performance" *ngFor="let item of performance;let i=index">
                <div class="row mt-3">
            <div class="offset-lg-1 offset-md-1 col-lg-3 col-md-3">
              <iframe class="img-responsive" [src]="item.url | safe" width="100%" height="100%" frameborder="1"  allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 col-md-6">
                <p>{{item.description}}</p>
            </div>
        </div>
    </div>
        <div class="mt-5 row text-center">
            <h1>Pentiah in News</h1>
            <hr>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3" *ngFor="let item of pentiahInNewsImages;">
                <div class="d-flex justify-content-center">
                    <img src="{{item.picture}}" width="250px" height="300px" title="Pentiah Live">
                </div>
                
            </div>
        </div>
</div>