.nbs-flexisel-item {
  float: left;
  margin: 0px;
  width: 290px;
  padding: 15px;
  cursor: pointer;
  position: relative;
  line-height: 16px;
}
.main-carousel {
  width: 100%;
  height: 60vh;
}
.container-fluid {
  padding: 0 0 !important;
}
.nbs-flexisel {
  padding-left: 2%;
}

@media (max-width: 750px) {
  .flexisel-item {
    padding-left: 2%;
  }
  .nbs-flexisel {
    padding-left: 0;
  }
  .performance {
    padding: 2%;
  }
  .nbs-flexisel {
    padding: auto;
  }
}
